{% extends 'base.html' %}

{% load static %}


{% block content %}
    <div class="container py-5">
        <h1 class="text-danger">You were too slow!</h1>

        <p>Watch your head next time!</p>

        <div class="row justify-content-md-center">
            <div class="col-md-auto col-sm-12 col-md-6 col-lg-4">
                <img src="{% static 'images/pirate.png' %}"
                     class="img-fluid mx-auto d-block" alt="Space Pirate">
            </div>
        </div>
    </div>
{% endblock %}
