{% extends 'base.html' %}

{% load static %}
{% load tale %}


{% block extra_head %}
    <link rel="stylesheet"
          href="{% static 'vendor/css/jquery.terminal-2.2.0.min.css' %}">
{% endblock %}


{% block extra_scripts %}
    <script src="{% static 'vendor/js/jquery.terminal-2.2.0.min.js' %}"></script>
    <script src="{% static 'js/terminal.js' %}"></script>
{% endblock %}


{% block content %}
    <div role="main" class="flex-grow-1 container d-flex flex-column">
        {% tale %}

        <div id="terminal" class="terminal flex-grow-1"></div>
    </div>
{% endblock %}
