{% extends 'base.html' %}

{% load hash %}


{% block content %}
    <!-- Notice: Debug: MD5(password) = '{% md5 password %}'; in /home/hackthespace/public_html/inc/login.php on line 237 -->

    <div class="container">
        <h1>Sign in</h1>

        <form method="post">
            {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ form.errors.password.0 }}
                </div>
            {% endif %}

            <div class="form-group">
                <label for="usernameInput">Username:</label>
                <input type="text" class="form-control"
                       id="usernameInput" placeholder="Enter username"
                       value="BOBBY" disabled>
            </div>
            <div class="form-group">
                <label for="usernameInput">Password:</label>
                <input type="password" class="form-control" name="password"
                       id="passwordInput" placeholder="Enter password"
                       maxlength="50" required>
            </div>

            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Sign in</button>
        </form>
    </div>
{% endblock %}
