<div class="keypad">
    <div class="keypad-display">
        <input type="number" class="form-control form-control-lg" id="kp-display" disabled>
    </div>

    <div class="keypad-row">
        <div class="keypad-cell">
            <button type="button" id="kp-1" class="btn btn-dark btn-lg">1</button>
        </div>
        <div class="keypad-cell">
            <button type="button" id="kp-2" class="btn btn-dark btn-lg">2</button>
        </div>
        <div class="keypad-cell">
            <button type="button" id="kp-3" class="btn btn-dark btn-lg">3</button>
        </div>
    </div>
    <div class="keypad-row">
        <div class="keypad-cell">
            <button type="button" id="kp-4" class="btn btn-dark btn-lg">4</button>
        </div>
        <div class="keypad-cell">
            <button type="button" id="kp-5" class="btn btn-dark btn-lg">5</button>
        </div>
        <div class="keypad-cell">
            <button type="button" id="kp-6" class="btn btn-dark btn-lg">6</button>
        </div>
    </div>
    <div class="keypad-row">
        <div class="keypad-cell">
            <button type="button" id="kp-7" class="btn btn-dark btn-lg">7</button>
        </div>
        <div class="keypad-cell">
            <button type="button" id="kp-8" class="btn btn-dark btn-lg">8</button>
        </div>
        <div class="keypad-cell">
            <button type="button" id="kp-9" class="btn btn-dark btn-lg">9</button>
        </div>
    </div>
    <div class="keypad-row">
        <div class="keypad-cell">
            <button type="button" id="kp-x" class="btn btn-dark btn-lg">X</button>
        </div>
        <div class="keypad-cell">
            <button type="button" id="kp-0" class="btn btn-dark btn-lg">0</button>
        </div>
        <div class="keypad-cell">
            <button type="button" id="kp-s" class="btn btn-lg btn-success">#</button>
        </div>
    </div>
</div>
