{% extends "base.html" %}


{% block extra_head %}
    <link href="https://fonts.googleapis.com/css?family=Orbitron"
          rel="stylesheet">
{% endblock %}

{% block extra_scripts %}
    <script src="{{ base_context.static_files.url_for("js/keypad.js")? }}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        {% call tale::tale() %}{% include "tale.txt" %}{% endcall %}

        <div class="d-flex justify-content-center">
            <div class="keypad-container">
                <form method="post">
                    {% csrf_token %}
                    {% include 'keypad/keypad.html' %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
