{% extends "base.html" %}

{% block content %}
    <div class="jumbotron bg-transparent mb-0 radius-0">
        <div class="container">
            <div class="row">
                <div class="col-xl-6">
                    <h1 class="display-2 mb-4">hackthespac<span
                            class="vim-caret">e</span>
                    </h1>

                    <div class="text-grey text-spacey">
                        {% filter rot_encode(19)|trim|linebreaks %}
                            {% include "rot13/text.txt" %}
                        {% endfilter %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
