{% extends 'base.html' %}

{% load static %}
{% load trim %}
{% load rot %}
{% load tale %}


{% block content %}
    <div class="container">
        {% tale %}

        <div class="row">
            <div class="col-xl-6 text-grey text-spacey">
                <img class="rounded mx-auto img-fluid d-block mb-4 w-75"
                     src="{% static 'images/vinegar.png' %}">

                {% filter vigenere:"absolutelycool"|trim|linebreaks %}
                    {% include 'vigenere/text.txt' %}
                {% endfilter %}
            </div>
        </div>
    </div>
{% endblock %}
