{% extends "base.html" %}

{% load sass_tags %}
{% import "../tale.html" as tale %}
{% load trim %}


{% block extra_head %}
    <link rel="stylesheet" href="{% sass_src 'scss/finish.scss' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-md-center mb-4">
            <div class="col-xl-12">
                <div class="text-mono fairy-tale">
                    {% include 'finish/tale.html' %}
                </div>
            </div>
        </div>

        <img src="{{ base_context.static_files.url_for("images/finish.png")? }}"
             class="img-fluid d-block" alt="Finish">
    </div>
{% endblock %}
