<p>Congratulations! You’re the first space pirate ever to join Academic IT Festival! The journey was hard, so be proud of yourself.</p>

<p>Your crew finally have a chance to gain some knowledge and actually help you with your work. You’ll fix the autopilot, and with all the new technology you’ll be almost invincible!</p>

<p>You also got your Galaxify subscription back and temporary permission for spacewalks. Knowing that I won’t say see you soon but... Well done!<span class="vim-caret">&nbsp;</span></p>
